Repository softozor/faas-templates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-feature-test-image, acceptance-test, publish-pickles

.gitlab-ci.yml:

stages:
  - lint
  - prepare
  - acceptance-test
  - report

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  TEST_IMAGE_NAME: softozor/faas-templates-test

.docker-login: &docker-login
  - docker login -u $DOCKER_HUB_REGISTRY_USER -p $DOCKER_HUB_REGISTRY_PASSWORD $DOCKER_HUB_REGISTRY

.docker-push: &docker-push
  - docker push $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA
  - docker push $DOCKER_IMAGE:latest

lint:
  stage: lint
  image: softozor/python-lint:$TOOLS_SHA
  script:
  - autopep8 -rd . --exit-code

publish-feature-test-image:
  stage: prepare
  image: docker:latest
  variables:
    DOCKER_IMAGE: ${TEST_IMAGE_NAME}
    DOCKERFILE_FOLDER: ./ci/feature-tests
  before_script:
    - *docker-login
  script:
    - |
      docker build $DOCKERFILE_FOLDER -t $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA -t $DOCKER_IMAGE:latest \
        --build-arg FAAS_CLI_VERSION=${FAAS_CLI_VERSION}
    - *docker-push
  only:
    changes:
      - ci/feature-tests/*

acceptance-test:
  stage: acceptance-test
  image: ${TEST_IMAGE_NAME}:latest
  before_script:
    - *docker-login
  script:
    - |
      behave --junit --junit-directory ./features/test-reports --tags ~wip \
        -D project-root-folder="${CI_PROJECT_DIR}" \
        -D api-url="${JELASTIC_API_URL}" \
        -D api-token="${JELASTIC_ACCESS_TOKEN}" \
        -D commit-sha="${CI_COMMIT_SHORT_SHA}"
  artifacts:
    reports:
      junit:
        - ./features/test-reports/*.xml
    paths:
      - ./features/test-reports/*.xml
  only:
    changes:
      - template/**/*
      - features/**/*

publish-pickles:
  stage: report
  image: softozor/pickles:2.21.1
  variables:
    APPLICATION_NAME: hasura-serverless
    OUTPUT_DIR: ./pickles
  script:
    - |
      mono /pickles/Pickles.exe --feature-directory=. \
        --output-directory=${OUTPUT_DIR} \
        --system-under-test-name=${APPLICATION_NAME} \
        --system-under-test-version=$CI_COMMIT_SHORT_SHA \
        --documentation-format=dhtml \
        --language=en --exp --et 'wip' --enableComments=false
  artifacts:
    paths:
      - $OUTPUT_DIR
  only:
    changes:
      - template/**/*
      - features/**/*

TeamCity change in 'Shared Libraries / Faas Templates' project: build features of 'Integration' build configuration were updated
  .teamcity/patches/buildTypes/Integration.kts
Due: none

temporarily make edition through ui possible
  .teamcity/patches/buildTypes/Integration.kts
  .teamcity/settings.kts
Due: none

put function images in dedicated docker folder
  features/examples/faas.yml
Due: acceptance-test, publish-pickles

try to pass the openfaas hostname through env var
  .teamcity/integration/Integration.kts
  features/fixtures.py
Due: acceptance-test, publish-pickles

try to pass the openfaas creds through env var
  .teamcity/integration/Integration.kts
  features/fixtures.py
Due: acceptance-test, publish-pickles

refactor developer class
  ci/feature-tests/requirements.txt
  features/actors/developer.py
  features/fixtures.py
Due: publish-feature-test-image, acceptance-test, publish-pickles

refactor tests
  ci/feature-tests/requirements.txt
  features/actors/developer.py
  features/faas-templates.feature
  features/steps/functions_steps.py
Due: publish-feature-test-image, acceptance-test, publish-pickles

fix pushing faas images to openfaas in tests
  .teamcity/integration/Integration.kts
  ci/feature-tests/requirements.txt
  features/environment.py
  features/examples/faas.yml
  features/fixtures.py
Due: publish-feature-test-image, acceptance-test, publish-pickles

fix pushing faas images to openfaas in tests
  .teamcity/integration/Integration.kts
  ci/feature-tests/requirements.txt
  features/environment.py
  features/fixtures.py
Due: publish-feature-test-image, acceptance-test, publish-pickles

fix pushing faas images to openfaas in tests
  .teamcity/integration/Integration.kts
Due: none

change docker image name
  .teamcity/integration/Integration.kts
Due: none

add step to start openfaas server if not up already
  .teamcity/integration/Integration.kts
  .teamcity/integration/startOpenFaasServer.kt
  .teamcity/integration/start_openfaas_server.py
  .teamcity/settings.kts
  ci/feature-tests/Dockerfile
Due: publish-feature-test-image

use GIT_COMMIT_SHORT_SHA explicitly in faas configuration
  .teamcity/integration/Integration.kts
  .teamcity/integration/startOpenFaasServer.kt
  features/examples/faas.yml
Due: acceptance-test, publish-pickles

fix tests for nodejs template
  features/actors/developer.py
Due: acceptance-test, publish-pickles

fix openfaas server start up
  .teamcity/integration/start_openfaas_server.py
Due: none
